.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border: 0.1px;
  border-radius: 50%;
  max-width: 100px;
  box-shadow: 17px 18px 15px -5px rgba(68, 67, 67, 0.75);
}

.name,
.tag,
.location,
.stats {
  margin: 2px;
  padding: 2px;
  width: 220px;
  border: 0.1px solid rgb(213, 218, 218);
  box-shadow: 17px 18px 15px -5px rgba(68, 67, 67, 0.75);
  background-color: rgba(230, 224, 224, 0.74);
  font-family: cursive;
}

.stats {
  margin: 4px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.quantity {
  color: #fe4f60;
}

.quantityGreen {
  color: teal;
}
